.nav{
	text-align: right;
	line-height: 100px;
}
a{
	text-decoration:none;
	margin: 10px;
	font-size: 70px;

}
label{
	font-size: 76px;
	display: none;
}
#toggle{
	display: none;
}
@media only screen and (max-width:500px){
	label{
		display: block;
	}
	.menu{
		text-align: center;
		width: 100%;
		display: none;
	}
	a {
		display: block;
		margin: 0;
	}
	#toggle:checked+.menu{
		display: block;
	}
}