*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    box-sizing: border-box;
}
body{
	
}
.b{
	background-color: #00a3cc;
    
	width: 100%;
}   
span{
	color: white;
	font-size: 50px;
	font-weight: 20px;
	line-height: 100px;
	padding: 0 50px;
	text-shadow: 3px 3px black;
	animation: text 3s 1;
}
@keyframes text{
	0%{
		color: black;
	}
}

.c{
	float: right;
	margin-right: 20px;
	margin-top: -90px;
	
}
.d{    
	display: inline-block;
	line-height: 80px;
	margin-right: 25px;
}
a:hover{
	background-color: #00e6b8;
	border-radius: 8px;
	transition: 0.4s;
}
a{
	color: black;
	font-size: 200%;
	margin: 10px;
}
.active {
	background-color: #00e6b8;
	border-radius: 8px;
}
label, #toggle{
	float: right;
	font-size: 70px;
	display: none;
}
.book{
	clear: both;
	background-color: lightgray;
	margin-top: -35px;
}
.phone{
	text-align: center;
	margin: 5px;
}
.copy{
	margin: 19%;
	margin-left: 10%;
	color: #fff;
}
.eraser{
	background-color: rgba(0,0,0,0.8);
	margin-right: 55%;
	margin-left: 5%;
	border-radius: 20px;
	box-shadow: 20px 20px;
}
.pen{
	margin-left: 4%;
	margin-top: -15%;
}
.pencil{
	background-color: rgba(0,0,0,0.8);
	line-height: 20px;
	margin-left: 50%;
	margin-top: -23%;
	margin-right: 5%;
	border-radius: 20px;
	box-shadow: 20px 20px;
}
.compass{
	float: right;
	margin-top: -38px;
	margin-left: 10px;
}
.charger{
	text-align: center;
	font-size: 20px;
	color: #fff;
	line-height: 20px;
}
#fname{
	float: center;
	background-color: lightgray;
	border-radius: 13px;
	width: 90%;
	height: 40px;
	border-color: black;
    border-bottom-width: 5px;
}
#send{
	border-radius: 10px;
	width: 100px;
	background-color: lightgray;
	margin: 10px;
	text-transform: uppercase;
	border-color: black;
}
@media only screen and (max-width: 500px){
	label{
		display: block;
		cursor: pointer;
	}
	.menu{
		text-align: center;
		width: 100;
		display: none;
	}
	.menu a{
		display: block;

	}
	
	
	
	#toggle:checked+ .menu{
		display: block;
	}
	.c{
		margin-top: 90px;
	}

}